[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
uvicorn = "*"
pydantic = "*"
python-multipart = "*"
transformers = "*"
torchaudio = "*"
sqlalchemy = "*"
aiofiles = "*"
ffmpeg-python = "*"
pytest = "*"
httpx = "*"
pydantic-settings = "*"

[dev-packages]

[requires]
python_version = "3.12"
